li a {
    color: green;
}

div {
	background-color: Blue;
	color: Red;
}
div d {
	background: white url("images/iipsHeader.png") no-repeat;
	width: 100%;
}

body2 {
    background: white url("images/background.jpg") no-repeat right bottom;
}
